/* * {
    margin: 0;
    padding: 0;
}

div p {
}



div > p {
}

element[attribute] {
}

element + element {
}

div:first-child {
  background-color: blueviolet;
}
# */

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

h1 {
  background-color: aqua;
}

.block {
  /* width: 100%; */
  /* height: 50px; */
  background-color: blue;
}

.inline {
  /* width: 100%; */
  /* height: 50px; */
  background-color: rgb(100, 232, 83);
  width: 100px;
  display: inline-block;
}
